/* スマホ用 */
@media (max-width: 500px) {

  .left_main_menu {
    display: none;
  }

  .content_view {
    width: 100vw;
  }

  .content_card, .content_card_show {
    width: calc(100vw - 14px);
  }

  
  .content_img_pc{
    display: none;
  }

  .header_menu{
    display: none;
  }

  .search_bar{
    margin-right: 5px;
  }

  .mobile_menu_btn {
    background-color: lightpink;
    margin-right: 5px;
  }

  .mobile_menu{
    display: grid;
    flex-direction: column;
    position: fixed;
    height: 100px;
    width: 300px;
    justify-content: center;
    align-items: center;
    background-color: rgba(12, 10, 10, 0.651);
    top: 55px;
    right: 5px;
    color: blanchedalmond;
    /* transition: 0.5s; */
    /* z-index: 100; */
  }

  .menu_btn {
    position: relative;
    top: 1px;
    left: 1px;
    margin: 1px;
    font-size: 20px;
  }



}