/* PC表示用 */
@media screen and (min-width:501px){





  .content_view {
    width: calc(100vw - 150px);
  }

  .content_card, .content_card_show {
    width: 324px;

  }

  .content_img_mobile, .mobile_menu, .mobile_menu_btn{
    display: none;
  }

  .header_menu{
    display: block;
  }

  .menu_btn{
    margin: 5px;
    padding: 5px;
  }



}