/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
}

 header,footer {
   background-color: darkgray;
   height: 50px;
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

 a {
  text-decoration: none;
  background-color: black;
 }

 a:hover {
  color: #57C3E9;
}

.main_logo {
  font-size: x-large;
  color: lightsalmon;
  margin: 5px;
}

.menu_btn {
  background-color: rgb(59, 59, 207);
  color: pink;
  margin: 0px 5px;
  padding: 5px;
}

.header_menu {
  /* display: flex; */
  margin: 10px 20px;
}
 
 .notice{
   color: darkred;
   font-size: small;
 }

 .alert{
  color: darkblue;
  font-size: small;
}
