%p="Mix_appで登録したアドレス#{@resource.email}さま宛てに送信しております。"

%p パスワードの再設定をする方は以下のリンクからお願い致します。
%p= link_to 'パスワード 再設定', edit_password_url(@resource, reset_password_token: @token)

%p ・現時点ではパスワードは変更されていませんので、変更不要の方はそのままで構いません。

